<div class=container>
<%= form_with(model: pollbooth, local: true) do |form| %>
  <% if pollbooth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pollbooth.errors.count, "error") %> prohibited this pollbooth from being saved:</h2>

      <ul>
      <% pollbooth.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
<br>
  <div class="form-group">
    <%= form.label :answer %>
    <%= form.select :answer,['Option 1', 'Option 2', 'Option 3', 'Option 4'] %>
  </div>
<br>
  <div class="form-group">
    <%= form.submit value="Vote!!" %>
  </div>
 
<% end %>
</div>