<p id="notice"><%= notice %></p>

<h1>Pollbooths</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pollbooths.each do |pollbooth| %>
      <tr>
        <td><%= pollbooth.email %></td>
        <td><%= pollbooth.answer %></td>
        <td><%= link_to 'Show', pollbooth %></td>
        <td><%= link_to 'Edit', edit_pollbooth_path(pollbooth) %></td>
        <td><%= link_to 'Destroy', pollbooth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pollbooth', new_pollbooth_path %>
