<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @pollbooth.email %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @pollbooth.answer %>
</p>

<%= link_to 'Edit', edit_pollbooth_path(@pollbooth) %> |
<%= link_to 'New Pollbooth', new_pollbooth_path %>

