<!DOCTYPE html>
<html>
  <head>
  <div class="alert alert-info" role="alert">
    <title>Polls</title>
    </div>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body background ="https://png.pngtree.com/thumb_back/fw800/back_pic/00/14/24/00565ab1bf5328f.jpg">
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
